<section class="container">
  <% if current_user %>
    <section class="stats">
      <%= render 'stats' %>
    </section>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">User Name:</th>
          <th scope="col"></th>
          <th scope="col">Follow/Unfollow</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
        <tr>
          <td><%=  user.user_name %></td>
          <td></td>
          <td>
            <% if current_user.following?(user) %>
              <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
              html: { method: :delete }) do |f| %>
                <%= f.submit "Unfollow", class: "btn" %>
              <% end %>
            <% else %>
              
              <%= form_for(current_user.active_relationships.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, user.id %></div>
                <%= f.submit "Follow", class: "btn btn-primary" %>
              <% end %>
              <%# <%= render 'home/follow', :locals => { :id => user.id } %> 
            <% end %>
          </td>
          
    </div>
        </tr>
        <% end %>
      </tbody>
    </table>
      <%# <%= render 'follow_form'  %> 
  <% else %>
    <h6 class="text-center" style="color:red">Please Sign in </h6>
  <% end %>
</section>






