<section class="container formlog">
  <%= form_for @book do |f| %>
    <%= render "error_messages", :target => @book %>
    <div class="form-outline mb-4">
    <%= f.label :name, class: "form-label text-center" %>  <br>
    <%= f.text_field :name , class: "form-control"%>  <br>
    <%= f.label :author, class: "form-label text-center" %>  <br>
    <%= f.text_field :author, class: "form-control col-sm-2" %>  <br>
    </div>
    <br>
    <%= f.submit %>
  <% end %>
</section>
