<% content_for :custom_links do %>
  <li>
    <%= link_to "<b class='text-success'>Add Book</b>".html_safe, new_book_path %>
  </li>
<% end %>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ttile</th>
    <th scope="col">Author</th>
    <th scope="col">Options</th>
  </tr>
  <tbody>
  <% i = 0 %>
  <% @books.each do |book| %>
    <tr>
      <td><%= i = i + 1 %></td>
      <td><%= book.name %></td>
      <td><%= book.author %></td>
      <td><%= link_to "Read Reviews", book_reviews_path(book), class: "btn btn-info" %>
        <%= link_to "Add Review", new_book_review_path(book), class: "btn btn-success" %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <thead>
</table>
