<%# <%= binding.pry %>
<section class="container">
  <%= form_with(model: [@book, @review]) do |form| %>
    
    <%= render "error_messages", :target => @review %>
    <div class="form-outline mb-4">
      <%= form.label :title, class: "form-label text-center" %>  <br>
      <%= form.text_field :title , class: "form-control"%>  <br>
      <%= form.label :rate, class: "form-label text-center" %>  <br>
      <%= form.text_field :rate, class: "form-control col-sm-2" %>  <br>
    </div>
    <div class="form-outline mb-4">
      <%= form.label :description, class: "form-label text-center" %>  <br>
      <%= form.text_area :description, class: "form-control" %>  <br>
    </div>
    <br>
    <%= form.submit %>
<% end %>
</section>
