<% content_for :custom_links do %>
  <li>
    <%= link_to "All Reviews", book_reviews_path(@book) %>
  </li>
<% end %>


<form class="example container text-center" action="<%= book_reviews_path %>">
  <input type="text" placeholder="Search by title, description or by username" name="search_key" required>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br>

<section class="container">
  <caption style="text-align:center">List of <%= @book.name&.capitalize %> Reviews</caption>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each_with_index do |review, index| %>
        <tr>
          <td><%= index+=1%></td>
          <td><%= review.title %></td>
          <td><%= review.description %></td>
          <td> <%= review.rate %></td>
          <td>
            <% if policy(review).update? %>
              <%= link_to 'Edit Review', edit_book_review_path(@book, review), class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>