<% if current_user %>

  <h2 ><h1 style="text-align:center">Reviews of: <%= @book.name %></h1> </h2>
  <form  class="example container text-center" action="<%= book_reviews_path %>">
    <input type="text" placeholder="Search by title, description or by username" name="search_key" required >
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <br>
  <div class="container">
    <%= link_to "All Reviews", book_reviews_path(@book) , class: "btn btn-info book-btn" %>
  </div>
  <section class="container">
    <table class="table table-striped table-hover table-bordered tbl-review">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
          <th scope="col">Options</th>
        </tr>
        <tbody>
          <% i=0 %>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= i=i+1 %></td>
              <td><%= review.title %></td>
              <td><%= review.description %></td>
              <td> <%= review.rate %></td>
              <td> 
                <% if policy(review).update? %>
                  <%= link_to 'Edit Review', edit_book_review_path(@book, review), class: "btn btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <thead>
    </table>
  <% else %>
    <p style="color:red; text-align:center"> Please Sign in</p>
  <% end %>
<section>


<%# <%= link_to 'New Post', new_shark_post_path(@shark) %> 








