
<nav class="navbar navbar-expand-sm bg-light">

  <ul class="nav nav-tabs" role="tablist">
  <div class="container">
  <li>
      <%= link_to "Home", root_path, class: "active" %> 
  </li>

  <% if current_user  %>
    <li>
      <%= link_to "Edit Profile", edit_user_registration_path %>  
    </li>
    <li>
      <%= link_to "See Books", books_path %>  
    </li>
    <li>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "sout" %>
    </li>
    <li >
        <h5 style="margin-left: 120px;padding-top:10px; color:green"> Welcome  <%= current_user.user_name %></h5>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "Sign In", new_user_session_path %>
    </li>
  <% end %>

  <div>
</ul>
</nav>

