<!DOCTYPE html>
<html>
<head>
  <title>Bookreview</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="container">
  <%= render "layouts/navbar" if current_user.present? %>
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= alert_class(key) %> alert-dismissible fade show" role="alert">
        <%= value %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</div>
</body>
</html>
